{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Refunds' } %}

        {% block widget_content %}

            <div class="row">
                <div class="col-sm-12">
                        {% form_theme refundForm '@Refund/Edit/form_collection_table_layout.html.twig' %}
                        {{ form_start(refundForm) }}
                </div>
            </div>

            {% set totals = refund.totals %}

            <div class="row">
                <div class="col-sm-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Subtotal</td>
                                <td>{{ totals.subtotal|currency }}</td>
                            </tr>
                            {% if totals.discountTotal %}
                                <tr>
                                    <td>Discount</td>
                                    <td>{{ totals.discountTotal|currency }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>Taxtotal ({{ totals.taxTotal.taxRate }}%)</td>
                                <td>{{ totals.taxTotal.amount|currency }}</td>
                            </tr>
                            <tr>
                                <td><b>Refundtotal</b></td>
                                <td>{{ totals.refundTotal|currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {{ form_widget(refundForm) }}
            <a href="/refund/edit/add-shipping-costs?id-refund={{ refund.idRefund }}" class="btn btn-warning">
                {{ 'Add Shipping Costs'|trans }}
            </a>
            {{ form_end(refundForm) }}
        {% endblock %}

    {% endembed %}


    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Add Items' } %}

        {% block widget_content %}

            {{ form_start(refundItemForm) }}
            {{ form_widget(refundItemForm) }}
                <input type="submit" class="btn btn-primary" value="{{ 'Add' | trans }}">
            {{ form_end(refundItemForm) }}

        {% endblock %}

    {% endembed %}


{% endblock %}
